.errors li {
	color: #d9534f;
}

.overlay {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(10,10,10,0.5);
}

.overlay.wait {
	display: block;
}

.overlay.wait:after {
	content: '';
	display: block;
	width: 52px;
	height: 52px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	background: url(../img/301.GIF);
	background-size: cover;
}